name: Build

on:
  workflow_dispatch:
  push:
    branches: [ master, main ]
  pull_request:

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: "17"
          cache: gradle
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3
      - run: chmod +x gradlew
      - name: Build project
        run: ./gradlew build
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: plugin-files
          path: build/libs/*.jar
  formatting:
    name: Format code
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: axel-op/googlejavaformat-action@v3
        with:
          args: "--skip-sorting-imports --replace"
          commit-message: "style: apply google-java-format"